<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= name %></title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1><%= name %></h1>
  <ul>
    <% filteredMenu.forEach((item) => { %>
        <li><%= item.name %> | $<%= item.price %> | <%= item.rating %>/5<br><%= item.details %><br><br></li>
   <% }) %>
  </ul>
</body>
</html>
